<script type="text/javascript" charset="utf-8">
	$(function(){
		new nicEditor({fullPanel : true, iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('post_content');
	});
</script>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
		<div class="whitebg"><%= f.text_area :content, :style => "width:100%" %></div> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
