<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "用户名" %><br />
    <%= f.text_field :name, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :password, "密码" %><br />
    <%= f.text_field :password, :class => "text" %>
  </div>
	<div class="field">
		<%= f.label :url, "网站" %><br />
		<%= f.text_field :url, :class => "text" %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
