<h1 class="title">Listing accounts</h1>

<table class="list">
  <tr>
    <th>ID</th>
    <th>用户名</th>
    <th>Email</th>
    <th>密码</th>
    <th>网站</th>
    <th>可发外链</th>
    <th>说明</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.id %></td>
    <td><%= account.name %></td>
    <td><%= account.email %></td>
    <td><%= account.password %></td>
    <td><%= link_to account.url, account.url, :target => '_blank' %></td>
    <td><%= account.can_link ? "是" : "否" %></td>
    <td><%= account.memo %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate(@accounts) %>

<br />

<%= link_to 'New Account', new_account_path %>
